@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0e0e0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select::-webkit-scrollbar {
  width: 5px;
}

/* Track */
select::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
select::-webkit-scrollbar-thumb {
  background: #888;
}
